{% extends "core/base.html" %}
{% load static %}

{% block title %}Gantt Chart{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
<div class="leftnavbar">
        <ul>
            <li><a href="#" onclick="exportGantt(); return false;">Export PNG</a></li>
            <li><a href="{% url 'scheduling:schedule' %}?week={{ week.week_number }}&garage={{ garage.id }}">Return</a></li>
            <br>
            <li><a href="{% url 'core:home' %}">Main</a></li>
        </ul>
</div>
{% endblock %}

{% block content %}
<div class="main">
    <h2>Gantt Chart: {{ garage.Facility_Name }} — Week {{ week.week_number }}</h2>
    <br>
    <div id="gantt" style="height: 600px;"></div>

    {{ data|json_script:"gantt-data" }}
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    const tasks = JSON.parse(document.getElementById('gantt-data').textContent);
    const bars = [];

    tasks.forEach(t => {
        const startDate = new Date(t.start);
        const endDate = new Date(startDate.getTime() + (t.duration * 24 * 60 * 60 * 1000));

        bars.push({
            x: [t.start, endDate.toISOString().split('T')[0]],
            y: [t.task, t.task],
            mode: "lines",
            line: { 
                width: 25,
                color: '#00009c',
            },
            name: t.task,
            hoverinfo: 'text',
            text: `Order: ${t.task}<br>Desc: ${t.description}<br>Duration: ${t.duration} days`
        });
    });
    const layout = {
        title: 'Work Order Schedule',
        hovermode: 'closest',
        paper_bgcolor: '#e5e4e2',
        plot_bgcolor: '#e5e4e2',
        xaxis: {
            type: 'date',
            title: 'Timeline',
            tickformat: '%Y-%m-%d'
        },
        yaxis: { 
            title: 'Work Orders',
            autorange: 'reversed' 
        },
        margin: { l: 150, r: 50, t: 80, b: 50 },
        showlegend: false
    };

    const chartDiv = document.getElementById('gantt');
    Plotly.newPlot(chartDiv, bars, layout);

    function exportGantt() {
        console.log("Exporting...");
        Plotly.downloadImage(chartDiv, {
            format: 'png',
            width: 1200,
            height: 800,
            filename: 'Gantt_Chart_Week_{{ week.week_number }}'
        });
    }

</script>
{% endblock %}