{% extends "core/base.html" %}
{% load static %}

{%block title %}
	Login
{% endblock %}

{% block top_navigation %}
<p>Welcome to Alignment by TARMOR!</p>
{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <div class="login-container">

            {% if error_message %}
                <div class="login-error" style="color: red; margin-bottom: 15px; font-weight: bold;">
                    {{ error_message }}
                </div>
            {% endif %}

            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="login-input-wrapper">
                    <label>Company/Organization Code</label>
                    <input type="text" name="company_slug" class="input" placeholder="e.g. company-a" required>
                </div>
                
                <div class="login-input-wrapper">
                    <label>User Login ID</label>
                    <input type="text" name="username" class="input" required>
                </div>

                <div class="login-input-wrapper">
                    <label>Password</label>
                    <input type="password" name="password" class="input" required>
                </div>

                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}