{% extends "core/login_base.html" %}
{% load static %}

{%block title %}
	Login
{% endblock %}

{% block top_navigation %}
<p>Welcome to Alignment by TARMOR!</p>
{% endblock %}

{% block content %}
    <h1 class="main-brand-header">
        <div class="brand-left" style="font-size: 18px;">
            <img class="logo" src="{% static 'Images/alignment.jpg' %}" >
            <small><i>by TARMOR</i></small>
        </div>
    </h1>
    <br><br>
    <div class="login-wrapper">
        <div class="login-container">

            {% if error_message %}
                <div class="login-error" style="color: red; margin-bottom: 15px; font-weight: bold;">
                    {{ error_message }}
                </div>
            {% endif %}

            <form method="POST" action="{% url 'login' %}" target="_self">
                {% csrf_token %}

                <div class="login-input-wrapper">
                    <label>Company/Organization Code</label>
                    <input type="text" name="company_slug" class="input" placeholder="e.g. company-a" required>
                </div>
                
                <div class="login-input-wrapper">
                    <label>User Login ID</label>
                    <input type="text" name="username" class="input" required>
                </div>

                <div class="login-input-wrapper">
                    <label>Password</label>
                    <input type="password" name="password" class="input" required>
                </div>

                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>
    
    <br><br>
    <div class="footer"></div>

{% endblock %}