{% extends "core/base.html" %}
{% load static %}

{%block title %}
	Component Codes
{% endblock %}

{% block top_navigation %}
    {% endblock %}

{% block sidebar %}
    <div class="leftnavbar" >
        <ul>
            <li><a href="{% url 'failures:add_component' %}">Add Comp</a> </li>
            <li><a href="{% url 'failures:search_components' %}">Search Comp</a> </li>
            <li><a href="{% url 'failures:edit_component' %}">Edit Comp</a> </li>
            <br>
            <li><a href="{% url 'failures:failure_codes' %}">Return</a> </li>
            <li><a href="{% url 'core:home' %}">Main</a> </li> 
        </ul>
    </div>
{% endblock %}

{% block content %}
    
    <div class=main> <h2>Component Failure Codes</h2>
        <div>
        <img class="image" src="{% static 'Images/components.jpg' %}" >
        </div>

    </div>
{% endblock %}
