{% extends "core/base.html" %}
{% load static %}

{%block title %}
	Failure Codes
{% endblock %}

{% block top_navigation %}
    {% endblock %}

{% block sidebar %}
    <div class="leftnavbar" >
        <ul>
            <li><a href="{% url 'failures:system' %}">System</a> </li>
            <li><a href="{% url 'failures:components' %}">Component</a> </li>
            <li><a href="{% url 'failures:failure_modes' %}">Fail Mode</a> </li>
            <li><a href="{% url 'failures:actions' %}">Action</a> </li>
            <br>
            <li><a href="{% url 'reliability:reliability' %}">Return</a> </li>
            <li><a href="{% url 'core:home' %}">Main</a> </li> 
        </ul>
    </div>
{% endblock %}

{% block content %}
    
    <div class=main> <h2>Failure Codes</h2>
        <div>
        <img class="image" src="{% static 'Images/Failure_Codes.jpeg' %}" >
        </div>

    </div>
{% endblock %}
