{% extends 'core/base.html' %}
{% load static %}

{%block title %}
    Search System
{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
    <div class="leftnavbar">
        <ul>
            <li> <a href="javascript:void(0)" onclick="exportExcel()">Export</a></li>
            <li><a href="{% url 'failures:system' %}">Return</a></li>
            <br>
            <li><a href="{% url 'core:home' %}">Main</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="main">

        <h2>Search System </h2>
        <br>
        <div>
            <h5 > 
                &nbsp; Search Criteria &nbsp;
                    <input type="image" src="{% static 'images/mag_glass.jpg' %}" alt="Submit" class='logo' form="search-form" >
                    <a href="{% url 'failures:search_system_name' %}">
                    <img src="{% static 'images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
                </a>
            </h5>
            <br>
            <form id="search-form"  method="GET" action="{% url 'failures:search_system' %}">
                Asset Key: <input type="text" name="asset_key" value="{{ asset_key }}" placeholder="Asset Key" class="input"> &nbsp;
                System Name: <input type="text" name="system_name" value="{{ system_name }}" placeholder="System Name" class="input"> &nbsp;
                System Key: <input type="text" name="system_key" value="{{ system_key }}" placeholder="System Key" class="input"> &nbsp;
                Comb Sys Key: <input type="text" name="combined_sys_key" value="{{ combined_sys_key }}" placeholder="Combined System Key" class="input"> <br>
                <input type="hidden" name="sort" value="{{ sort_by }}">
            </form>
            <br>
        </div>

        <div class="form">
            <form class="form" id="sesarch_system_form" method="POST">
                <h2> Search Results </h2>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th"><a href="?sort=asset_key&{{ filter_url }}" class="sort_header">Asset Key:{% if sort_by == 'asset_key' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=system_name&{{ filter_url }}" class="sort_header">System Name:{% if sort_by == 'system_name' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=system_key&{{ filter_url }}" class="sort_header">System Key:{% if sort_by == 'system_key' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=combined_sys_key&{{ filter_url }}" class="sort_header">Comb Sys Key:{% if sort_by == 'combined_sys_key' %}▲{% endif %}</a></th>
                        </tr>
                    <thead>
                    <tbody>
                        {% for sys in system %}
                            <tr>
                                <td class="td">{{ sys.asset_key }}</td>
                                <td class="td">{{ sys.system_name }}</td>
                                <td class="td">{{ sys.system_key }}</td>
                                <td class="td">{{ sys.combined_sys_key }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" style="text-align: center;">No systems found matching those criteria.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script>
        function exportExcel() {
            const currentParams = window.location.search;
            window.location.href = "{% url 'failures:export_systems_excel' %}" + currentParams;
        }
        </script>
{% endblock %}