{% extends 'core/base.html' %}
{% load static %}

{%block title %}
    Search Actions
{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
    <div class="leftnavbar">
        <ul>
            <li> <a href="javascript:void(0)" onclick="exportExcel()">Export</a></li>
            <li><a href="{% url 'failures:actions' %}">Return</a></li>
            <br>
            <li><a href="{% url 'core:home' %}">Main</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="main">

        <h2>Search Actions </h2>
        <br>
        <div>
            <h3> 
                &nbsp; Search Criteria &nbsp;
                    <input type="image" src="{% static 'images/mag_glass.jpg' %}" alt="Submit" class='logo' form="search-form" >
                    <a href="{% url 'failures:search_actions' %}">
                    <img src="{% static 'images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
                </a>
            </h3>
            
            <form id="search-form"  method="GET" action="{% url 'failures:search_actions' %}">
                <table class="table-bare-container">
                    <tr>
                        <td>Action Name</td>
                        <td>
                            <input type="text" name="action_name" value="{{ action_name_val }}" list="action-name-list" placeholder="Action Name or Key..." class="input" autocomplete="off">
                            <datalist id="action-name-list">
                                {% for item in all_action_suggestions %}
                                    <option value="{{ item.action_name }}" label="{{ item.action_key }}">
                                        {{ item.action_key }} - {{ item.action_name }}
                                    </option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Action Key</td>
                        <td>
                            <input type="text" name="action_key" value="{{ action_key_val }}" list="action-key-list" placeholder="Action Key" class="input" autocomplete="off">
                            <datalist id="action-key-list">
                                {% for key in all_keys %}
                                    <option value="{{ key }}"></option>
                                {% endfor %}
                            </datalist>
                            <input type="hidden" name="sort" value="{{ sort }}">
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="form">
            <form class="form" id="sesarch_form" method="POST">
                <h3> Search Results </h3>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th">
                                <a href="?sort={% if sort == 'action_name' %}-action_name{% else %}action_name{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Action Name {% if sort == 'action_name' %} ▲ {% elif sort == '-action_name' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?sort={% if sort == 'action_key' %}-action_key{% else %}action_key{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Action Key {% if sort == 'action_key' %} ▲ {% elif sort == '-action_key' %} ▼ {% endif %}
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for action in actions %}
                            <tr>
                                <td class="td">{{ action.action_name }}</td>
                                <td class="td">{{ action.action_key }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2" style="text-align: center;">No actions found matching those criteria.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script>
        function exportExcel() {
            const currentParams = window.location.search;
            window.location.href = "{% url 'failures:export_actions_excel' %}" + currentParams;
        }
        </script>
{% endblock %}