{% extends "core/base.html" %}
{% load static%}

{% block title %}Search Comp History{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}

    <div class="leftnavbar">

        <ul class="leftnavbar">
            <li><a class="nav-link" href="{% url 'equipment:export_comp_history' %}?{{ request.GET.urlencode }}">Export</a> </li>
            <li><a href="{% url 'equipment:equipment' %}">Return</a> </li>
            <br>
            <li><a href="{% url 'core:home' %}">Main</a> </li>   
        </ul>
    </div>

{% endblock %}

{% block content %}
    <div class=main>
        <h2> Search Component History </h2>
        <br>

        <div>
            <h3> 

                &nbsp; Search Criteria &nbsp;
                <input type="image" src="{% static 'Images/mag_glass.jpg' %}" alt="Submit" class='logo' form="search-form" >
                <a href="{% url 'equipment:search_component_history' %}">
                    <img src="{% static 'Images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
                </a>
            </h3>

            <form id="search-form"  method="GET" action=".">
                <table  class="table-bare-container">
                    <tr>
                        <td>Equipment</td>
                        <td> <input type="text" name="Equipment_Number" list="eq-num-list" class="input" value="{{ eq_num_val }}" autocomplete="off" placeholder="Number or Desc...">
                            <datalist id="eq-num-list">
                                {% for eq in all_equipment_suggestions %}
                                    <option value="{{ eq.Equipment_Number }}" label="{{ eq.Equipment_Description }}">
                                        {{ eq.Equipment_Number }} - {{ eq.Equipment_Description }}
                                    </option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Asset Type</td>
                        <td>
                            <input type="text" name="Asset_Type" list="asset-type-list" class="input" value="{{ asset_type_val }}" autocomplete="off" placeholder="All Asset Types...">
                            <datalist id="asset-type-list">
                                {% for asset in all_asset_types %}
                                    <option value="{{ asset }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Equipment Type</td>
                        <td>
                            <input type="text" name="Equipment_Type" list="eq-type-list" class="input" value="{{ eq_type_val }}" autocomplete="off" placeholder="All Eq Types...">
                            <datalist id="eq-type-list">
                                {% for eq_type in all_eq_types %}
                                    <option value="{{ eq_type }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment Status</td>
                        <td>
                            <input type="text" name="Equipment_Status" list="status-list" class="input" value="{{ status_val }}" autocomplete="off" placeholder="All Statuses...">
                            <datalist id="status-list">
                                {% for status in all_statuses %}
                                    <option value="{{ status }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Make</td>
                        <td>
                            <input type="text" name="Make" list="make-list" class="input" value="{{ make_val }}" autocomplete="off" placeholder="All Makes...">
                            <datalist id="make-list">
                                {% for mk in all_makes %}
                                    <option value="{{ mk }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Model</td>
                        <td>
                            <input type="text" name="Model" list="model-list" class="input" value="{{ model_val }}" autocomplete="off" placeholder="All Models...">
                            <datalist id="model-list">
                                {% for md in all_models %}
                                    <option value="{{ md }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                </table>
            </form>
            <br>
        </div>

        <div >
            <h3> Search Results </h3>
            <br>
            <div class="table-container">
                <table  class="table">
                    <thead>
                        <tr>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Equipment_Number' %}-Equipment_Number{% else %}Equipment_Number{% endif %}" class="sort_header">
                                    Equipment
                                    {% if sort == 'Equipment_Number' %} ▲ {% elif sort == '-Equipment_Number' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Component_Number' %}-Component_Number{% else %}Component_Number{% endif %}" class="sort_header">
                                    Component #
                                    {% if sort == 'Component_Number' %} ▲ {% elif sort == '-Component_Number' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Change_Date' %}-Change_Date{% else %}Change_Date{% endif %}" class="sort_header">
                                    Change Date
                                    {% if sort == 'Change_Date' %} ▲ {% elif sort == '-Change_Date' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Change_Type' %}-Change_Type{% else %}Change_Type{% endif %}" class="sort_header">
                                    Change Type
                                    {% if sort == 'Change_Type' %} ▲ {% elif sort == '-Change_Type' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Meter_Desc' %}-Meter_Desc{% else %}Meter_Desc{% endif %}" class="sort_header">
                                    Meter Desc
                                    {% if sort == 'Meter_Desc' %} ▲ {% elif sort == '-Meter_Desc' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Meter_Reading' %}-Meter_Reading{% else %}Meter_Reading{% endif %}" class="sort_header">
                                    Mtr Reading
                                    {% if sort == 'Meter_Reading' %} ▲ {% elif sort == '-Meter_Reading' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'New_Make' %}-New_Make{% else %}New_Make{% endif %}" class="sort_header">
                                    Updated Make
                                    {% if sort == 'New_Make' %} ▲ {% elif sort == '-New_Make' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'New_Model' %}-New_Model{% else %}New_Model{% endif %}" class="sort_header">
                                    Updated Model
                                    {% if sort == 'New_Model' %} ▲ {% elif sort == '-New_Model' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'New_Serial' %}-New_Serial{% else %}New_Serial{% endif %}" class="sort_header">
                                    New SN
                                    {% if sort == 'New_Serial' %} ▲ {% elif sort == '-New_Serial' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Old_Serial' %}-Old_Serial{% else %}Old_Serial{% endif %}" class="sort_header">
                                    Old SN
                                    {% if sort == 'Old_Serial' %} ▲ {% elif sort == '-Old_Serial' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'New_PO' %}-New_PO{% else %}New_PO{% endif %}" class="sort_header">
                                    New PO
                                    {% if sort == 'New_PO' %} ▲ {% elif sort == '-New_PO' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'New_Lifespan' %}-New_Lifespan{% else %}New_Lifespan{% endif %}" class="sort_header">
                                    Updated Lifespan
                                    {% if sort == 'New_Lifespan' %} ▲ {% elif sort == '-New_Lifespan' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'New_UoM' %}-New_UoM{% else %}New_UoM{% endif %}" class="sort_header">
                                    uom
                                    {% if sort == 'New_UoM' %} ▲ {% elif sort == '-New_UoM' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'New_Wty_Dur' %}-New_Wty_Dur{% else %}New_Wty_Dur{% endif %}" class="sort_header">
                                    Updated Wty Dur
                                    {% if sort == 'New_Wty_Dur' %} ▲ {% elif sort == '-New_Wty_Dur' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'New_Wty_UoM' %}-New_Wty_UoM{% else %}New_Wty_UoM{% endif %}" class="sort_header">
                                    uom
                                    {% if sort == 'New_Wty_UoM' %} ▲ {% elif sort == '-New_Wty_UoM' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'New_Wty_Start' %}-New_Wty_Start{% else %}New_Wty_Start{% endif %}" class="sort_header">
                                    New Wty Start
                                    {% if sort == 'New_Wty_Start' %} ▲ {% elif sort == '-New_Wty_Start' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'New_Wty_End' %}-New_Wty_End{% else %}New_Wty_End{% endif %}" class="sort_header">
                                    New Wty End
                                    {% if sort == 'New_Wty_End' %} ▲ {% elif sort == '-New_Wty_End' %} ▼ {% endif %}
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in equipment_list %}
                            <tr>
                                <td class="td">{{item.Equipment.Equipment_Number}}</td>
                                <td class="td">{{item.Component.Component_Number}}</td>
                                <td class="td">{{item.Change_Date}}</td>
                                <td class="td">{{item.Change_Type}}</td>
                                <td class="td">{{item.Meter_Description}}</td>
                                <td class="td">{{item.Meter_Reading}}</td>
                                <td class="td">{{item.New_Make}}</td>
                                <td class="td">{{item.New_Model}}</td>
                                <td class="td">{{item.New_Serial}}</td>
                                <td class="td">{{item.Old_Serial}}</td>
                                <td class="td">{{item.New_PO}}</td>
                                <td class="td">{{item.New_Lifespan}}</td>
                                <td class="td">{{item.New_UoM}}</td>
                                <td class="td">{{item.New_Wty_Dur}}</td>
                                <td class="td">{{item.New_Wty_UoM}}</td>
                                <td class="td">{{item.New_Wty_Start}}</td>
                                <td class="td">{{item.New_Wty_End}}</td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="17">No records found.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}