{% extends "core/base.html" %}
{% load static%}

{% block title %}Search Comp{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}

    <div class="leftnavbar">

        <ul class="leftnavbar">
            <li><a class="nav-link" href="{% url 'equipment:export_list_excel' %}?{{ request.GET.urlencode }}">Export</a> </li>
            <li><a href="{% url 'equipment:equipment' %}">Return</a> </li>
            <br>
            <li><a href="{% url 'core:home' %}">Main</a> </li>   
        </ul>
    </div>

{% endblock %}

{% block content %}
    <div class=main>
        <h2> Search Component </h2>
        <br>

        <div>
            <h3 > 
                &nbsp; Filters &nbsp;
                <input type="image" src="{% static 'Images/mag_glass.jpg' %}" alt="Submit" class='logo' form="search-form" >
                <a href="{% url 'equipment:search_comp_list' %}">
                    <img src="{% static 'Images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
                </a>
            </h3>

            <form id="search-form"  method="GET" action=".">
                <table class="table-bare-container">
                    <tr>
                        <td>Equipment</td>
                        <td>
                            <input type="text" name="Equipment_Number" list="eq-num-list" class="input" value="{{ equip_val }}" autocomplete="off" placeholder="Number or Desc...">
                            <datalist id="eq-num-list">
                                {% for eq in all_equipment_suggestions %}
                                    <option value="{{ eq.Equipment_Number }}" label="{{ eq.Equipment_Description }}">
                                        {{ eq.Equipment_Number }} - {{ eq.Equipment_Description }}
                                    </option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Asset Type</td>
                        <td>
                            <input type="text" name="Asset_Type" list="asset-type-list" class="input" value="{{ asset_type_val }}" autocomplete="off" placeholder="All Asset Types...">
                            <datalist id="asset-type-list">
                                {% for asset in all_asset_types %}
                                    <option value="{{ asset }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Equipment Type</td>
                        <td>
                            <input type="text" name="Equipment_Type" list="eq-type-list" class="input" value="{{ equip_type_val }}" autocomplete="off" placeholder="All Eq Types...">
                            <datalist id="eq-type-list">
                                {% for eq_type in all_eq_types %}
                                    <option value="{{ eq_type }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td>Component Number</td>
                        <td>
                            <input type="text" name="Component_Number" list="comp-num-list" class="input" value="{{ comp_num_val }}" autocomplete="off" placeholder="Number or Desc...">
                            <datalist id="comp-num-list">
                                {% for comp in all_component_suggestions %}
                                    <option value="{{ comp.Component_Number }}" label="{{ comp.Component_Description }}">
                                        {{ comp.Component_Number }} - {{ comp.Component_Description }}
                                    </option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Component Description</td>
                        <td colspan="3">
                            <input type="text" name="Component_Description" list="comp-desc-list" class="input" value="{{ comp_desc_val }}" autocomplete="off" placeholder="Search Description keywords...">
                            <datalist id="comp-desc-list">
                                {% for comp in all_component_suggestions %}
                                    <option value="{{ comp.Component_Description }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td>Component Make</td>
                        <td>
                            <input type="text" name="Make" list="make-list" class="input" value="{{ make_val }}" autocomplete="off" placeholder="All Makes...">
                            <datalist id="make-list">
                                {% for make in all_makes %}
                                    <option value="{{ make }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Component Model</td>
                         <td>
                            <input type="text" name="Model" list="model-list" class="input" value="{{ model_val }}" autocomplete="off" placeholder="All Models...">
                            <datalist id="model-list">
                                {% for model in all_models %}
                                    <option value="{{ model }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </form>
            <br>
        </div>

        <div >
            <h3 > Search Results </h3>
            <br>
            <div class="table-container">
                <table  class="table">
                    <thead>
                        <tr>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Equipment_Number' %}-Equipment_Number{% else %}Equipment_Number{% endif %}" class="sort_header">
                                    Equipment
                                    {% if sort == 'Equipment_Number' %} ▲ {% elif sort == '-Equipment_Number' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Asset_Type' %}-Asset_Type{% else %}Asset_Type{% endif %}" class="sort_header">
                                    Asset Type
                                    {% if sort == 'Asset_Type' %} ▲ {% elif sort == '-Asset_Type' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Equipment_Type' %}-Equipment_Type{% else %}Equipment_Type{% endif %}" class="sort_header">
                                    Equipment Type
                                    {% if sort == 'Equipment_Type' %} ▲ {% elif sort == '-Equipment_Type' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Component_Number' %}-Component_Number{% else %}Component_Number{% endif %}" class="sort_header">
                                    Component Number
                                    {% if sort == 'Component_Number' %} ▲ {% elif sort == '-Component_Number' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Component_Description' %}-Component_Description{% else %}Component_Description{% endif %}" class="sort_header">
                                    Component Description
                                    {% if sort == 'Component_Description' %} ▲ {% elif sort == '-Component_Description' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Make' %}-Make{% else %}Make{% endif %}" class="sort_header">
                                    Make
                                    {% if sort == 'Make' %} ▲ {% elif sort == '-Make' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Model' %}-Model{% else %}Model{% endif %}" class="sort_header">
                                    Model
                                    {% if sort == 'Model' %} ▲ {% elif sort == '-Model' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Serial_Number' %}-Serial_Number{% else %}Serial_Number{% endif %}" class="sort_header">
                                    Serial Number
                                    {% if sort == 'Serial_Number' %} ▲ {% elif sort == '-Serial_Number' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Warranty_Duration' %}-Warranty_Duration{% else %}Warranty_Duration{% endif %}" class="sort_header">
                                    Warranty Duration
                                    {% if sort == 'Warranty_Duration' %} ▲ {% elif sort == '-Warranty_Duration' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Wty_UoM' %}-Wty_UoM{% else %}Wty_UoM{% endif %}" class="sort_header">
                                    uom
                                    {% if sort == 'Wty_UoM' %} ▲ {% elif sort == '-Wty_UoM' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Warranty_Start_Date' %}-Warranty_Start_Date{% else %}Warranty_Start_Date{% endif %}" class="sort_header">
                                    Wty Start
                                    {% if sort == 'Warranty_Start_Date' %} ▲ {% elif sort == '-Warranty_Start_Date' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Warranty_End_Date' %}-Warranty_End_Date{% else %}Warranty_End_Date{% endif %}" class="sort_header">
                                    Wty End
                                    {% if sort == 'Warranty_End_Date' %} ▲ {% elif sort == '-Warranty_End_Date' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'PO_Number' %}-PO_Number{% else %}PO_Number{% endif %}" class="sort_header">
                                    PO
                                    {% if sort == 'PO_Number' %} ▲ {% elif sort == '-PO_Number' %} ▼ {% endif %}
                                </a>
                            </th>
                        </tr>
                    </thead>
                     <tbody>
                        {% for item in comp_list %}
                            <tr>
                                <td class="td">{{item.Equipment.Equipment_Number}}</td>
                                <td class="td">{{item.Equipment.Asset_Type.name}}</td>
                                <td class="td">{{item.Equipment.Equipment_Type.Equipment_Type}}</td>
                                <td class="td">{{item.Component_Number}}</td>
                                <td class="td">{{item.Component_Description}}</td>
                                <td class="td">{{item.Make}}</td>
                                <td class="td">{{item.Model}}</td>
                                <td class="td">{{item.Serial_Number}}</td>
                                <td class="td">{{item.Warranty_Duration}}</td>
                                <td class="td">{{item.Wty_UoM}}</td>
                                <td class="td">{{item.Warranty_Start_Date}}</td>
                                <td class="td">{{item.Warranty_End_Date}}</td>
                                <td class="td">{{item.PO_Number}}</td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="13">No records found.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}