{% extends "core/base.html" %}
{% load static %}

{% block title %} Search QM {% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
<div class="leftnavbar">
        <ul>
            <li>
                <a class="nav-link" href="{% url 'planning:export_qm_excel' %}?{{ request.GET.urlencode }}">Export</a></li>
            </li>
            <li><a href="{% url 'planning:planning' %}">Return</a></li>
            <br>
            <li><a href="{% url 'core:home' %}">Main</a></li>
        </ul>
</div>
{% endblock %}

{% block content %}
<div class="main">
        
    <h2> Search Quality Maintenance Documents
        <button type="submit" style="background:none; border:none; cursor:pointer; padding:0;" form="search-form">
            <img src="{% static 'Images/mag_glass.jpg' %}" alt="Search" class="logo" style="vertical-align: middle;">
        </button>
        <a href="{% url 'planning:search_qm' %}"><img src="{% static 'Images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;"></a>
    </h2>
    
    <div class="form">
        <form method="GET" id="search-form" action=".">
            <div id="search-form">
                <table class="table-bare-container">
                    <tr>
                        <td>QM Number</td>
                        <td>
                            {{ search_form.qm_number }}
                            <datalist id="qm-number-list">
                                {% for num in all_qm_numbers %}
                                    <option value="{{ num }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Description</td>
                        <td>
                            {{ search_form.description }}
                            <datalist id="qm-desc-list">
                                {% for desc in all_qm_descriptions %}
                                    <option value="{{ desc }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>QM Type</td>
                        <td>{{ search_form.qm_type }}</td>
                        <td>QM Step Type</td>
                        <td>{{ search_form.step_type }}</td>
                        <td>Active</td>
                        <td>{{ search_form.active }}</td>
                    </tr>
                </table>
            </div>
        </form>

        <h3>Search Results</h3>
        <br>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="th">
                            <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'qm_number' %}-qm_number{% else %}qm_number{% endif %}" class="sort_header">
                                QM Number {% if sort == 'qm_number' %} ▲ {% elif sort == '-qm_number' %} ▼ {% endif %}
                            </a>
                        </th>
                        <th class="th">
                            <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'description' %}-description{% else %}description{% endif %}" class="sort_header">
                                Description {% if sort == 'description' %} ▲ {% elif sort == '-description' %} ▼ {% endif %}
                            </a>
                        </th>
                        <th class="th">
                            <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'qm_type' %}-qm_type{% else %}qm_type{% endif %}" class="sort_header">
                                Type {% if sort == 'qm_type' %} ▲ {% elif sort == '-qm_type' %} ▼ {% endif %}
                            </a>
                        </th>
                        <th class="th">
                            <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'step_type' %}-step_type{% else %}step_type{% endif %}" class="sort_header">
                                Step Type {% if sort == 'step_type' %} ▲ {% elif sort == '-step_type' %} ▼ {% endif %}
                            </a>
                        </th>
                        <th class="th">
                            <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'plan_count' %}-plan_count{% else %}plan_count{% endif %}" class="sort_header">
                                Units Assigned {% if sort == 'plan_count' %} ▲ {% elif sort == '-plan_count' %} ▼ {% endif %}
                            </a>
                        </th>
                        <th class="th">Active</th>
                        <th class="th">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doc in results %}
                    <tr>
                        <td class="td">{{ doc.qm_number }}</td>
                        <td class="td">{{ doc.description }}</td>
                        <td class="td">{{ doc.get_qm_type_display }}</td>
                        <td class="td">{{ doc.get_step_type_display }}</td>
                        <td class="td">{{ doc.plan_count }}</td>
                        <td class="td">{{ doc.active }}</td>
                        <td class="td"><a href="{% url 'planning:edit_qm_record' doc.pk %}">Edit</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}