{% extends 'core/base.html' %}
{% load static %}

{%block title %}
    Search Failure Modes
{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
    <div class="leftnavbar">
        <ul>
            <li> <a href="javascript:void(0)" onclick="exportExcel()">Export</a></li>
            <li><a href="{% url 'failures:failure_modes' %}">Return</a></li>
            <br>
            <li><a href="{% url 'core:home' %}">Main</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="main">

        <h2>Search Failure Modes </h2>
        <br>
        <div>
            <h3> 
                &nbsp; Search Criteria &nbsp;
                    <input type="image" src="{% static 'images/mag_glass.jpg' %}" alt="Submit" class='logo' form="search-form" >
                    <a href="{% url 'failures:search_failure_modes' %}">
                    <img src="{% static 'images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
                </a>
            </h3>
            
            <form id="search-form"  method="GET" action="{% url 'failures:search_failure_modes' %}">
                <table class="table-bare-container">
                    <tr>
                        <td>Failure Mode</td>
                        <td>
                            <input type="text" name="failure_mode" value="{{ failure_mode_val }}" list="fm-name-list" placeholder="Mode or Code..." class="input" autocomplete="off">
                            <datalist id="fm-name-list">
                                {% for item in all_fm_suggestions %}
                                    <option value="{{ item.failure_mode }}" label="{{ item.failure_code }}">
                                        {{ item.failure_code }} - {{ item.failure_mode }}
                                    </option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Failure Code</td>
                        <td>
                            <input type="text" name="failure_code" value="{{ failure_code_val }}" list="fm-code-list" placeholder="Failure Code" class="input" autocomplete="off">
                            <datalist id="fm-code-list">
                                {% for code in all_codes %}
                                    <option value="{{ code }}"></option>
                                {% endfor %}
                            </datalist>
                            <input type="hidden" name="sort" value="{{ sort }}">
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="form">
            <form class="form" id="sesarch_fm_form" method="POST">
                <h3> Search Results </h3>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th">
                                <a href="?sort={% if sort == 'failure_mode' %}-failure_mode{% else %}failure_mode{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Failure Mode {% if sort == 'failure_mode' %} ▲ {% elif sort == '-failure_mode' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?sort={% if sort == 'failure_code' %}-failure_code{% else %}failure_code{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Failure Code {% if sort == 'failure_code' %} ▲ {% elif sort == '-failure_code' %} ▼ {% endif %}
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fm in failure_modes %}
                            <tr>
                                <td class="td">{{ fm.failure_mode }}</td>
                                <td class="td">{{ fm.failure_code }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2" style="text-align: center;">No failure modes found matching those criteria.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script>
        function exportExcel() {
            const currentParams = window.location.search;
            window.location.href = "{% url 'failures:export_failure_modes_excel' %}" + currentParams;
        }
        </script>
{% endblock %}