{% extends "core/base.html" %}
{% load static %}

{% block title %} Edit Cost Centre {% endblock %}

{% block sidebar %}
    <div class="leftnavbar">
        <ul>
            <li> <a href="javascript:void(0)" onclick="document.getElementById('cost_centre_form').submit();">Save</a> </li>
            <li> <a href="{% url 'facilities:facilities' %}" onclick="return confirm('Information will be lost! Proceed?');">Cancel</a> </li>
            <br>
            <li> <a href="{% url 'core:home' %}">Main</a> </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="main">
    <div class="form">
        <form method="GET" action="{% url 'facilities:edit_costcentre' %}" style="display: inline;">
            <h2>Edit Cost Centre &nbsp;
                <input class="input" type="text" name="q" value="{{ search_val }}" list="cc-lookup-list" placeholder="Search CC or Desc..." autocomplete="off" style="min-width: 220px;">
                <datalist id="cc-lookup-list">
                    {% for cc in all_cc_suggestions %}
                        <option value="{{ cc.Cost_Centre }}" label="{{ cc.Cost_Centre_Description|default:'' }}">
                            {{ cc.Cost_Centre }} - {{ cc.Cost_Centre_Description|default:'No Description' }}
                        </option>
                    {% endfor %}
                </datalist> &nbsp;
                <input type="image" src="{% static 'Images/mag_glass.jpg' %}" alt="Search" class="logo" style="vertical-align: middle;">
            </h2>
        </form>
    </div>

    {% if instance %}
    <div class="schedule-panel">
        <form method="post" id="cost_centre_form">
            {% csrf_token %}
            
            {% if form.errors %}
                <div style="color: red; margin-bottom: 15px;">
                    <strong>Please fix the following:</strong>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {% if field.errors %}
                            <p>{{ field.label }}: {{ field.errors|striptags }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <table class="table-bare-container">
                <tr>
                    <td>Cost Centre</td>
                    <td>
                        <input class="locked" type="text" value="{{ instance.Cost_Centre }}" readonly>
                    </td>
                    <td>Description</td>
                    <td>{{ form.Cost_Centre_Description }}</td>
                    <td>Status</td>
                    <td>{{ form.Status }}</td>
                </tr>
            </table>
        </form>
    </div>
    {% else %}
    <br>
    <div class="notification is-info" style="color: red">
        Please search and select a Cost Centre from the dropdown list menu to begin modifying its records.
    </div>
    {% endif %}
</div>
{% endblock %}