{% extends "core/base.html" %}
{% load static %}

{% block title %} Search Facilities {% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}

<div class="leftnavbar">
    <ul>

        <li> <a class="nav-link" href="{% url 'facilities:export_facilities_excel' %}?{{ request.GET.urlencode }}">Export</a> </li>
        <li> <a href="{% url 'facilities:facilities' %}">Return</a> </li>
        <li> <a href="{% url 'core:home' %}">Main</a> </li>

    </ul>
</div>

{% endblock %}

{% block content %}
<div class="main">
    <h2> Search Facilities </h2>
    <br>

   <div >
        <h3> 
            &nbsp; Search Criteria &nbsp;
                <input type="image" src="{% static 'Images/mag_glass.jpg' %}" alt="Submit" class='logo' form="search-form" >
                <a href="{% url 'facilities:search_facilities' %}">
                <img src="{% static 'Images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
            </a>
        </h3>
        <br>
        
        <form id="search-form"  method="get" action="{% url 'facilities:search_facilities' %}">
            <table>
                <tr>
                    <td>Facility Code</td>
                    <td><input type="text" name="Facility_Code" class="input" value="{{ Facility_Code }}"></td>
                    <td>Facility Name</td>
                    <td><input type="text" name="Facility_Name" class="input" value="{{ Facility_Name }}"></td>
                    <td>Cost Centre</td>
                    <td><input type="text" name="Cost_Centre" class="input" value="{{ Cost_Centre }}"></td>
                </tr>
            </table>
        </form>
        <br>
    </div>
        <br>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="table-container">
        
        <table class="table" method="post" id="form">
            <thead>
                <tr>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Facility_Code' %}-Facility_Code{% else %}Facility_Code{% endif %}" class="sort_header">
                            Facility Code {% if sort == 'Facility_Code' %} ▲ {% elif sort == '-Facility_Code' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Facility_Name' %}-Facility_Name{% else %}Facility_Name{% endif %}" class="sort_header">
                            Facility Name {% if sort == 'Facility_Name' %} ▲ {% elif sort == '-Facility_Name' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Cost_Centre' %}-Cost_Centre{% else %}Cost_Centre{% endif %}" class="sort_header">
                            Cost Centre {% if sort == 'Cost_Centre' %} ▲ {% elif sort == '-Cost_Centre' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Street_Address' %}-Street_Address{% else %}Street_Address{% endif %}" class="sort_header">
                            Street Address {% if sort == 'Street_Address' %} ▲ {% elif sort == '-Street_Address' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'City' %}-City{% else %}City{% endif %}" class="sort_header">
                            City {% if sort == 'City' %} ▲ {% elif sort == '-City' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Province_State' %}-Province_State{% else %}Province_State{% endif %}" class="sort_header">
                            Province / State {% if sort == 'Province_State' %} ▲ {% elif sort == '-Province_State' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Country' %}-Country{% else %}Country{% endif %}" class="sort_header">
                            Country {% if sort == 'Country' %} ▲ {% elif sort == '-Country' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Postal_Zip_Code' %}-Postal_Zip_Code{% else %}Postal_Zip_Code{% endif %}" class="sort_header">
                            Postal / Zip Code {% if sort == 'Postal_Zip_Code' %} ▲ {% elif sort == '-Postal_Zip_Code' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Contact_Name' %}-Contact_Name{% else %}Contact_Name{% endif %}" class="sort_header">
                            Contact Name {% if sort == 'Contact_Name' %} ▲ {% elif sort == '-Contact_Name' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Contact_Phone_Number' %}-Contact_Phone_Number{% else %}Contact_Phone_Number{% endif %}" class="sort_header">
                            Contact Phone Number {% if sort == 'Contact_Phone_Number' %} ▲ {% elif sort == '-Contact_Phone_Number' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'Email_Address' %}-Email_Address{% else %}Email_Address{% endif %}" class="sort_header">
                            Email Address {% if sort == 'Email_Address' %} ▲ {% elif sort == '-Email_Address' %} ▼ {% endif %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in facility_list %}
                <tr>
                    <td class="td">{{item.Facility_Code}}</td>
                    <td class="td">{{item.Facility_Name}}</td>
                    <td class="td">{{item.Cost_Centre}}</td>
                    <td class="td">{{item.Street_Address}}</td>
                    <td class="td">{{item.City}}</td>
                    <td class="td">{{item.Province_State}}</td>
                    <td class="td">{{item.Country}}</td>
                    <td class="td">{{item.Postal_Zip_Code}}</td>
                    <td class="td">{{item.Contact_Name}}</td>
                    <td class="td">{{item.Contact_Phone_Number}}</td>
                    <td class="td">{{item.Email_Address}}</td>
                </tr>
            
                {% empty %}
                    <tr><td colspan="11">No records found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}