{% extends "core/base.html" %}
{% load static %}

{%block title %}
	Condition Monitoring
{% endblock %}

{% block top_navigation %}
    {% endblock %}

{% block sidebar %}
    <div class="leftnavbar" >
        <ul>
            <li><a href="{% url 'condition_monitoring:tracker_view' %}">S.T. Actions</a> </li>
            <br>
            <li><a href="{% url 'condition_monitoring:mag_plugs' %}">Mag Plugs</a> </li>
            <li><a href="{% url 'condition_monitoring:filters' %}">Filters</a> </li>
            <li><a href="{% url 'condition_monitoring:tires' %}">Tires</a> </li>
            <li><a href="{% url 'condition_monitoring:bucket_lips' %}">Buckets</a> </li>
            <li><a href="{% url 'condition_monitoring:box_liners' %}">Box Liner</a> </li>
            <li><a href="{% url 'condition_monitoring:cycle_times' %}">Cycle Times</a> </li>
            <li><a href="{% url 'condition_monitoring:valve_settings' %}">Valve Sets</a> </li>
            <li><a href="{% url 'condition_monitoring:cylinder_temps' %}">Cyl Temps</a> </li>
            <br>
            <li><a href="{% url 'reliability:reliability' %}">Return</a> </li>
            <li><a href="{% url 'core:home' %}">Main</a> </li> 
        </ul>
    </div>
{% endblock %}

{% block content %}
    
    <div class=main> <h2>Condition Monitoring</h2>
        <div>
        <img class="image" src="{% static 'Images/condition_monitoring_flow.jpeg' %}" >
        </div>

    </div>
{% endblock %}
