
{% extends "core/base.html" %}
{% load static %}

{%block title %}
	Valve Settings
{% endblock %}

{% block top_navigation %}
    {% endblock %}

{% block sidebar %}
    <div class="leftnavbar" >
        <ul>
            <li><a href="{% url 'condition_monitoring:add_valve_sets' %}">Add Rdngs</a> </li>
            <li><a href="{% url 'condition_monitoring:search_valve_sets' %}">Search Rdngs</a> </li>
            <br>
            <li><a href="{% url 'condition_monitoring:valve_sets_trend' %}">Valve Trend</a> </li>
            <br>
            <li><a href="{% url 'condition_monitoring:condition_monitoring' %}">Return</a> </li>
            <li><a href="{% url 'core:home' %}">Main</a> </li> 
        </ul>
    </div>
{% endblock %}

{% block content %}
    
    <div class=main> <h2>Valve Settings</h2>
        <div>
        <br>
        <p>Any valve with more than +/-0.002" requires adjustment!</p>
        <br>
        <img class="image" src="{% static 'Images/head_adjust.jpg' %}">
        </div>

    </div>
{% endblock %}
