{% extends 'core/base.html' %}
{% load static %}

{%block title %}
    Top Failures
{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
    <div class="leftnavbar">
        <ul>
            <li> <a href="javascript:void(0)" onclick="exportExcel()">Export</a></li>
            <li><a href="{% url 'kpis:kpis' %}">Return</a></li>
            <br>
            <li><a href="{% url 'core:home' %}">Main</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="main">

        <h2>Top Failures </h2>
        <br>
        <div>
            <h3> 
                &nbsp; Filter Criteria &nbsp;
                    <input type="image" src="{% static 'Images/mag_glass.jpg' %}" alt="Submit" class='logo' form="search-form" >
                    <a href="{% url 'kpis:top_failures' %}">
                    <img src="{% static 'Images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
                </a>
            </h3>
            
            <form class="form" id="search-form"  method="GET" action="{% url 'kpis:top_failures' %}">
                <table class="table-bare-container">
                    <tr>
                        <td>Start Date</td>
                        <td><input type="date" name="start_date" class="input" value="{{ filters.start_date }}"></td>
                        <td>End Date</td>
                        <td><input type="date" name="end_date" class="input" value="{{ filters.end_date }}"></td>
                        <td>Asset Type</td>
                        <td>
                            <input type="text" name="asset_type" value="{{ asset_type_val }}" list="asset-type-list" placeholder="All Assets..." class="input" autocomplete="off"
                                hx-get="/kpis/get-freq-linked-eq-types/" hx-trigger="input changed delay:200ms, change" hx-target="#eq-type-datalist-wrapper">
                            <datalist id="asset-type-list">
                                {% for at in asset_types %}
                                    <option value="{{ at.name }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Eq. Type</td>
                        <td>
                            <div id="eq-type-datalist-wrapper">
                                <datalist id="eq-type-list">
                                    {% for et in equipment_types %}
                                        <option value="{{ et.Equipment_Type }}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <input type="text" name="equipment_type" value="{{ filters.equipment_type }}" list="eq-type-list" placeholder="Select Asset First..." class="input" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td>Eq. Number</td>
                        <td>
                            <input type="text" name="equipment_number" value="{{ eq_num_val }}" list="eq-num-list" placeholder="Number or Desc..." class="input" autocomplete="off">
                            <datalist id="eq-num-list">
                                {% for eq in all_equipment_suggestions %}
                                    <option value="{{ eq.Equipment_Number }}" label="{{ eq.Equipment_Description }}">
                                        {{ eq.Equipment_Number }} - {{ eq.Equipment_Description }}
                                    </option>
                                {% endfor %}
                            </datalist>
                            <input type="hidden" name="sort" value="{{ sort }}">
                        </td>
                        <td>System</td>
                        <td><input type="text" name="fc_system" value="{{ filters.fc_system }}" placeholder="Filter System" class="input"></td>
                        <td>Component</td>
                        <td><input type="text" name="fc_component" value="{{ filters.fc_component }}" placeholder="Filter Component" class="input"></td>
                        <td>Failure Mode</td>
                        <td><input type="text" name="fc_failure_mode" value="{{ filters.fc_failure_mode }}" placeholder="Filter Mode" class="input"></td>
                    </tr>
                </table>
            </form>
        </div>

        <h3>Failure Count:</h3>
        <br>

        <div class="container-wrapper" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 10px; width: 100%;">
            
            <table class="table-container">
                <thead>
                    <tr>
                        <th class="th">System</th>
                        <th class="th">Occurrences</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in system_counts %}
                    <tr>
                        <td class="td">{{ item.obj }}</td>
                        <td class="td"><strong>{{ item.total }}</strong></td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="2">No failures found for this criteria.</td></tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table-container">
                <thead>
                    <tr>
                        <th class="th">Component</th>
                        <th class="th">Occurrences</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in component_counts %}
                    <tr>
                        <td class="td">{{ item.obj }}</td>
                        <td class="td"><strong>{{ item.total }}</strong></td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="2">No failures found for this criteria.</td></tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table-container">
                <thead>
                    <tr>
                        <th class="th">Failure Mode</th>
                        <th class="th">Occurrences</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in mode_counts %}
                    <tr>
                        <td class="td">{{ item.obj }}</td>
                        <td class="td"><strong>{{ item.total }}</strong></td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="2">No failures found for this criteria.</td></tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table-container">
                <thead>
                    <tr>
                        <th class="th">Action</th>
                        <th class="th">Occurrences</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in action_counts %}
                    <tr>
                        <td class="td">{{ item.obj }}</td>
                        <td class="td"><strong>{{ item.total }}</strong></td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="2">No failures found for this criteria.</td></tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table-container">
                <thead>
                    <tr>
                        <th class="th">Damage</th>
                        <th class="th">Occurrences</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td">DAMAGE (POP)</td>
                        <td class="td"><strong>{{ damage_pop|default:0 }}</strong></td>
                    </tr>
                    <tr>
                        <td class="td">DAMAGE (PMP)</td>
                        <td class="td"><strong>{{ damage_pmp|default:0 }}</strong></td>
                    </tr>
                    <tr>
                        <td class="td">DAMAGE (NATURE)</td>
                        <td class="td"><strong>{{ damage_nature|default:0 }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>

        <div class="form">
            <form class="form" id="sesarch_failures_form" method="POST">
                <h3> Search Results </h3>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th">
                                <a href="?sort={% if sort == 'work_order' %}-work_order{% else %}work_order{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    WO {% if sort == 'work_order' %} ▲ {% elif sort == '-work_order' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?sort={% if sort == 'repair_description' %}-repair_description{% else %}repair_description{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Repair Description {% if sort == 'repair_description' %} ▲ {% elif sort == '-repair_description' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?sort={% if sort == 'asset_type' %}-asset_type{% else %}asset_type{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Asset Type {% if sort == 'asset_type' %} ▲ {% elif sort == '-asset_type' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?sort={% if sort == 'equipment_number' %}-equipment_number{% else %}equipment_number{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Eq Number {% if sort == 'equipment_number' %} ▲ {% elif sort == '-equipment_number' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?sort={% if sort == 'equipment_description' %}-equipment_description{% else %}equipment_description{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Eq Description {% if sort == 'equipment_description' %} ▲ {% elif sort == '-equipment_description' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?sort={% if sort == 'fc_system' %}-fc_system{% else %}fc_system{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    System {% if sort == 'fc_system' %} ▲ {% elif sort == '-fc_system' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?sort={% if sort == 'fc_component' %}-fc_component{% else %}fc_component{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Component {% if sort == 'fc_component' %} ▲ {% elif sort == '-fc_component' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?sort={% if sort == 'fc_failure_mode' %}-fc_failure_mode{% else %}fc_failure_mode{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Failure Mode {% if sort == 'fc_failure_mode' %} ▲ {% elif sort == '-fc_failure_mode' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?sort={% if sort == 'date_closed' %}-date_closed{% else %}date_closed{% endif %}{% if filter_url %}&{{ filter_url }}{% endif %}" class="sort_header">
                                    Date Closed {% if sort == 'date_closed' %} ▲ {% elif sort == '-date_closed' %} ▼ {% endif %}
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in work_orders %}
                        <tr>
                            <td class="td">{{ item.work_order }}</td>
                            <td class="td">{{ item.repair_description }}</td>
                            <td class="td">{{ item.equipment.Asset_Type }}</td>
                            <td class="td">{{ item.equipment.Equipment_Number }}</td>
                            <td class="td">{{ item.equipment.Equipment_Description }}</td>
                            <td class="td">{{ item.fc_system }}</td>
                            <td class="td">{{ item.fc_component }}</td>
                            <td class="td">{{ item.fc_failure_mode }}</td>
                            <td class="td">{{ item.fc_action }}</td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="9">No failures found for this criteria.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script>
        function exportExcel() {
            const currentParams = window.location.search;
            window.location.href = "{% url 'kpis:export_top_failures_excel' %}" + currentParams;
        }
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
{% endblock %}