
{% extends "core/base.html" %}
{% load static %}

{%block title %}
	Cylinder Temperatures
{% endblock %}

{% block top_navigation %}
    {% endblock %}

{% block sidebar %}
    <div class="leftnavbar" >
        <ul>
            <li><a href="{% url 'condition_monitoring:add_cylinder_temps' %}">Add Rdngs</a> </li>
            <li><a href="{% url 'condition_monitoring:search_cylinder_temps' %}">Search Rdngs</a> </li>
            <br>
            <li><a href="{% url 'condition_monitoring:cylinder_temps_trend' %}">Temp Trends</a> </li>
            <br>
            <li><a href="{% url 'condition_monitoring:condition_monitoring' %}">Return</a> </li>
            <li><a href="{% url 'core:home' %}">Main</a> </li> 
        </ul>
    </div>
{% endblock %}

{% block content %}
    
    <div class=main> <h2>Cylinder Temperatures</h2>
        <div>
        <br>
        <img class="image" src="{% static 'Images/cyl_temp.jpg' %}">
        </div>

    </div>
{% endblock %}
