{% extends "core/base.html" %}
{% load static %}
{% load rim_tags %}

{% block title %}
    Rim Inspections
{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
    <div class="leftnavbar">
        <ul>
            <li><a href="javascript:void(0)" onclick="submitMainForm('save')">Save</a></li>
            <li><a href="{% url 'condition_monitoring:tires' %}">Return</a></li>
            <br>
            <li><a href="{% url 'core:home' %}">Main Menu</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="main">
    <h2>{% if is_editing %}Edit{% else %}Add{% endif %} Rim Inspection</h2>
    
    <form id="RimInspectionForm" method="POST">
        {% csrf_token %}
        <table class="table-bare-container">
            <tbody class="form-info">
                <tr>
                    <td>Date Tested</td>
                    <td>{{ form.date_tested }}</td>
                    <td>Rim Identifier</td>
                    <td>{{ form.rim_id }}</td>
                    <td>Last Test Date</td>
                    <td>{{ form.last_test_date }}</td>
                    <td>Number of Tests</td>
                    <td>{{ form.number_of_tests }}</td>
                    <td>Pass/Fail</td>
                    <td>{{ form.pass_fail }}</td>
                    <td>Failure Reason</td>
                    <td>{{ form.failure_reason }}</td>
                </tr>
            </tbody>
        </table>
    </form>

    <form method="GET" id="filter-form" >
        <h3>
            Inspection History &nbsp; &nbsp; &nbsp; &nbsp;
            <label for="status_color" style="font-weight: 600; font-size: 14px; height: 30px">Filter by Due Status:</label>
            <select name="status_color" id="status_color" class="input" onchange="document.getElementById('filter-form').submit()">
                <option value="">-- All Records --</option>
                <option value="clear" {% if selected_color == 'clear' %}selected{% endif %}>🟢 Clear / Scrap</option>
                <option value="amber" {% if selected_color == 'amber' %}selected{% endif %}>🟡 Coming Due (< 6 Mos)</option>
                <option value="red" {% if selected_color == 'red' %}selected{% endif %}>🔴 Overdue</option>
            </select>
        </h3>
    </form>
    <br>
    <table class="table-container">
        <thead>
            <tr>
                <th class="th">
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'date_tested' %}-date_tested{% else %}date_tested{% endif %}" class="sort_header" style="color: inherit; text-decoration: none;">
                        Date Tested {% if sort == 'date_tested' %} ▲ {% elif sort == '-date_tested' %} ▼ {% endif %}
                    </a>
                </th>
                <th class="th">
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'rim_id' %}-rim_id{% else %}rim_id{% endif %}" class="sort_header" style="color: inherit; text-decoration: none;">
                        Rim Identifier {% if sort == 'rim_id' %} ▲ {% elif sort == '-rim_id' %} ▼ {% endif %}
                    </a>
                </th>
                <th class="th">
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'pass_fail' %}-pass_fail{% else %}pass_fail{% endif %}" class="sort_header" style="color: inherit; text-decoration: none;">
                        Pass/Fail {% if sort == 'pass_fail' %} ▲ {% elif sort == '-pass_fail' %} ▼ {% endif %}
                    </a>
                </th>
                <th class="th">
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'failure_reason' %}-failure_reason{% else %}failure_reason{% endif %}" class="sort_header" style="color: inherit; text-decoration: none;">
                        Failure Reason {% if sort == 'failure_reason' %} ▲ {% elif sort == '-failure_reason' %} ▼ {% endif %}
                    </a>
                </th>
                <th class="th">
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'last_test_date' %}-last_test_date{% else %}last_test_date{% endif %}" class="sort_header" style="color: inherit; text-decoration: none;">
                        Last Test Date {% if sort == 'last_test_date' %} ▲ {% elif sort == '-last_test_date' %} ▼ {% endif %}
                    </a>
                </th>
                <th class="th">
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'number_of_tests' %}-number_of_tests{% else %}number_of_tests{% endif %}" class="sort_header" style="color: inherit; text-decoration: none;">
                        Number of Tests {% if sort == 'number_of_tests' %} ▲ {% elif sort == '-number_of_tests' %} ▼ {% endif %}
                    </a>
                </th>
                <th class="th">
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'next_test_date' %}-next_test_date{% else %}next_test_date{% endif %}" class="sort_header" style="color: inherit; text-decoration: none;">
                        Next Test Date {% if sort == 'next_test_date' %} ▲ {% elif sort == '-next_test_date' %} ▼ {% endif %}
                    </a>
                </th>
                
                <th class="th" style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in history %}
            <tr>
                <td class="td" style="text-align: center;">{{ row.date_tested }}</td>
                <td class="td" style="text-align: center;">{{ row.rim_id }}</td>
                <td class="td" style="text-align: center;">
                    <span class="badge {% if row.pass_fail == 'Fail' %}status-overdue-red{% endif %}">{{ row.pass_fail }}</span>
                </td>
                <td class="td">{{ row.failure_reason|default:"--" }}</td>
                <td class="td" style="text-align: center;">{{ row.last_test_date|default:"--" }}</td>
                <td class="td" style="text-align: center;">{{ row.number_of_tests|default:"--" }}</td>
                <td style="text-align: center;" class="td {{ row.next_test_date|get_due_color_class }}">
                    {% if row.next_test_date == 'scrap' %}
                        Scrap
                    {% else %}
                        {{ row.next_test_date|default:"--" }}
                    {% endif %}
                </td>
                </td>
                <td class="td" style="text-align: center;">
                    <a href="{% url 'condition_monitoring:edit_rim_inspection' row.id %}" style="font-weight: 600; text-decoration: underline; color: #0366d6;">
                        Edit
                    </a> 
                    <span style="color: #ccc; margin: 0 5px;">|</span>
                    
                    <form id="delete-form-{{ row.id }}" action="{% url 'condition_monitoring:delete_rim_inspection' row.id %}" method="POST" style="display: inline; margin: 0;">
                        {% csrf_token %}
                        <a href="javascript:void(0)" 
                        onclick="if(confirm('Permanently delete this record?')) document.getElementById('delete-form-{{ row.id }}').submit();" 
                        style="font-weight: 600; text-decoration: underline; color: #d73a49;">
                            Delete
                        </a>
                    </form>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td class="td" colspan="8" style="text-align: center; padding: 20px; color: #777;">No inspection logs match your selected filter criteria.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function submitMainForm() {
        document.getElementById('RimInspectionForm').submit();
    }
</script>
{% endblock %}