{% extends "core/base.html" %}
{% load static %}

{% block title %}
    Search Inv
{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
<div class="leftnavbar">
    <ul>
        <li><a href="{% url 'inventory:export_inventory_excel' %}?{{ filter_url }}">Export</a></li>
        <li><a href="{% url 'inventory:inventory' %}">Cancel</a></li>
        <br>
        <li><a href="{% url 'core:home' %}">Main Menu</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="main">
    <h2>Search Inventory </h2>
    <br>

    <div >
            <h3 > 
                &nbsp; Search Criteria &nbsp;
                    <input type="image" src="{% static 'Images/mag_glass.jpg' %}" alt="Submit" class='logo' form="search-form" >
                    <a href="{% url 'inventory:search_inventory' %}">
                    <img src="{% static 'Images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
                </a>
            </h3>
            
            <form id="search-form"  method="GET" action=".">
                <table class="table-bare-container">
                    <tr>
                        <td>Part Number</td>
                        <td>
                            <input type="text" name="part_number" list="part-list" value="{{ part_number_val }}" placeholder="Part Number or Desc..." class="input" autocomplete="off">
                            <datalist id="part-list">
                                {% for item in all_items %}
                                    <option value="{{ item.part_number }}" label="{{ item.part_description|default:'' }}">
                                        {{ item.part_number }} - {{ item.part_description|default:'No Description' }}
                                    </option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Supplier</td>
                        <td>
                            <input type="text" name="supplier" list="supplier-list" value="{{ supplier_val }}" placeholder="All Suppliers..." class="input" autocomplete="off">
                            <datalist id="supplier-list">
                                {% for sup in all_suppliers %}
                                    <option value="{{ sup }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Manufacturer</td>
                        <td>
                            <input type="text" name="manufacturer" list="manufacturer-list" value="{{ manufacturer_val }}" placeholder="All Manufacturers..." class="input" autocomplete="off">
                            <datalist id="manufacturer-list">
                                {% for man in all_manufacturers %}
                                    <option value="{{ man }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                        <td>Controlled Product</td>
                        <td>
                            <input type="text" name="controlled_product" list="controlled-list" value="{{ controlled_product_val }}" placeholder="All Control Codes..." class="input" autocomplete="off">
                            <datalist id="controlled-list">
                                {% for cp in all_controlled %}
                                    <option value="{{ cp }}"></option>
                                {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div >
            <h3> Search Results </h3>
            <br>
            <div class="table-container">
                <table  class="table">
                    <thead>
                        <tr>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'part_number' %}-part_number{% else %}part_number{% endif %}" class="sort_header">
                                    Part Number {% if sort == 'part_number' %} ▲ {% elif sort == '-part_number' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'part_description' %}-part_description{% else %}part_description{% endif %}" class="sort_header">
                                    Part Description {% if sort == 'part_description' %} ▲ {% elif sort == '-part_description' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'supplier' %}-supplier{% else %}supplier{% endif %}" class="sort_header">
                                    Supplier {% if sort == 'supplier' %} ▲ {% elif sort == '-supplier' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'manufacturer' %}-manufacturer{% else %}manufacturer{% endif %}" class="sort_header">
                                    Manufacturer {% if sort == 'manufacturer' %} ▲ {% elif sort == '-manufacturer' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'qty' %}-qty{% else %}qty{% endif %}" class="sort_header">
                                    Qty {% if sort == 'qty' %} ▲ {% elif sort == '-qty' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'uom' %}-uom{% else %}uom{% endif %}" class="sort_header">
                                    UoM {% if sort == 'uom' %} ▲ {% elif sort == '-uom' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'unit_price' %}-unit_price{% else %}unit_price{% endif %}" class="sort_header">
                                    Unit Price {% if sort == 'unit_price' %} ▲ {% elif sort == '-unit_price' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'stock' %}-stock{% else %}stock{% endif %}" class="sort_header">
                                    Stock {% if sort == 'stock' %} ▲ {% elif sort == '-stock' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'controlled_product' %}-controlled_product{% else %}controlled_product{% endif %}" class="sort_header">
                                    Controlled Product {% if sort == 'controlled_product' %} ▲ {% elif sort == '-controlled_product' %} ▼ {% endif %}
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inv in inventory %}
                            <tr>
                                <td class="td">{{inv.part_number}}</td>
                                <td class="td">{{inv.part_description}}</td>
                                <td class="td">{{inv.supplier}}</td>
                                <td class="td">{{inv.manufacturer}}</td>
                                <td class="td">{{inv.qty}}</td>
                                <td class="td">{{inv.uom}}</td>
                                <td class="td">{{inv.unit_price}}</td>
                                <td class="td">{{inv.stock}}</td>
                                <td class="td">{{inv.controlled_product}}</td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="9">No records found.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}