{% extends "core/base.html" %}
{% load static %}

{%block title %}
	MOCs
{% endblock %}

{% block top_navigation %}
    {% endblock %}

{% block sidebar %}
    <div class="leftnavbar" >
        <ul>
            <li><a href="{% url 'moc:add_moc' %}">Create MOC</a> </li>
            <li><a href="{% url 'moc:search_mocs' %}">Search MOCs</a> </li>
            <li><a href="{% url 'moc:edit_moc_base' %}">Edit MOC</a> </li>
            <br>
            <li><a href="{% url 'moc:moc_dashboard' %}">Dashboard</a> </li>
            <br>
            <li><a href="{% url 'moc:moc_questions' %}">MOC Ques</a> </li> 
            <br>
            <li><a href="{% url 'core:home' %}">Main</a> </li> 
        </ul>
    </div>
{% endblock %}

{% block content %}
    
    <div class=main> <h2>MOCs - If any of these answers are <i><u>YES</u></i> then an MOC is required!</h2>
        <br>
        <div style="font-size: 14px;">
            <h4> Equipment & Technology </h4>
            <p>Does the change involve new, modified, or relocated equipment?</p>
            <p>Are we changing the process conditions (e.g., pressure, temperature, flow rates) outside of the original design parameters?</p>
            <p>Are we introducing new chemical substances or changing the supplier of existing chemicals?</p>
            <p>Are we changing control systems, PLC software, or alarm setpoints?</p>
            <p>Does the change involve replacing equipment with a different type, model, or material?</p>
            <br>
            <h4> Procedures & Safety </h4>
            <p>Does the change impact existing Standard Operating Procedures (SOPs), maintenance procedures, or safe work practices?</p>
            <p>Will the change modify any safety-critical elements, such as interlocks, emergency shutdowns, or relief systems?</p>
            <p>Does the change affect emergency response plans or evacuation routes?</p>
            <p>Does the change affect any ISO standards?</p>
            <br>
            <h4> Personnel & Organization </h4>
            <p>Are we changing the organizational structure, such as merging teams or restructuring?</p>
            <p>Are we reducing staff, changing operator shift schedules, or utilizing contractors in new ways?</p>
            <p>Does the change require new training or a different level of expertise for employees?</p>
            <br>
            <h4> General Risk Factors </h4>
            <p>Is this a permanent change rather than a temporary one (e.g., bypass piping, temporary software patch)?</p>
            <p>Could the change introduce new hazards that were not covered in the original Process Hazard Analysis (PHA)?</p>
            <p>Will the change result in new or increased emissions to the environment? </p>
        </div>

    </div>
{% endblock %}
