<label>Eq Number:</label> {{equploadform.Equipment_Number}} &nbsp;

            <label>Asset Type:</label>
            <select name="Asset_Type" 
                hx-get="{% url 'equipment:load_options' %}" 
                hx-target="#dynamic-form-fields" 
                hx-include="closest form" 
                class="input">
                {% for value, text in equploadform.fields.Asset_Type.choices %}
                    <option value="{{ value }}" {% if equploadform.Asset_Type.value == value %}selected{% endif %}>{{ text }}</option>
                {% endfor %}
            </select>&nbsp;

            <label>Eq Type:</label> 
            <select name="Equipment_Type" 
                hx-get="{% url 'equipment:load_options' %}" 
                hx-target="#dynamic-form-fields" 
                hx-include="closest form"
                class="input">
                {% for value, text in equploadform.fields.Equipment_Type.choices %}
                    <option value="{{ value }}" {% if equploadform.Equipment_Type.value == value|stringformat:"s" %}selected{% endif %}>{{ text }}</option>
                {% endfor %}
            </select> &nbsp;
            <label>Eq Status:</label> {{equploadform.Equipment_Status}} <br>
            <br>
            <label>Eq Description:</label> {{equploadform.Equipment_Description}} &nbsp;
            <label>Commission Date:</label> {{equploadform.Commissioning_Date}} &nbsp;
            <label>Decommission Date:</label> {{equploadform.Decommissioning_Date}} <br>
            <br>
            <label>Make:</label> {{equploadform.Make}} &nbsp;
            <label>Model:</label> {{equploadform.Model}} &nbsp;
            <label>Serial Number:</label> {{equploadform.Serial_Number}} &nbsp;
            <label>Resp Garage:</label> {{equploadform.Garage}} <br>
            <br>
            <label>Purchase Order:</label> {{equploadform.PO_Number}} &nbsp;
            <label>Eq Value:</label> {{equploadform.Equipment_Value}} &nbsp;
            <label>Warranty Start:</label> {{equploadform.Warranty_Start_Date}} &nbsp;
            <label> Warranty End:</label> {{equploadform.Warranty_End_Date}} <br>
            <br>
            <label>Overhaul Period:</label> {{equploadform.Overhaul_Period}} &nbsp;
            <label>Overhaul Value:</label> {{equploadform.Overhaul_Value}} &nbsp;
            <label>End Of Life:</label> {{equploadform.End_of_Life}} <br>
            <br>
            {% if not equploadform.Engine_HP_Rating.is_hidden %}
                    <label>Engine HP:</label> {{equploadform.Engine_HP_Rating}} &nbsp;
            {% endif %} 
            {% if not equploadform.CANMET_Number.is_hidden %}
                    <label>CANMET Number:</label> {{equploadform.CANMET_Number}} &nbsp;
                    <label>Ventilation Rating:</label> {{equploadform.Ventilation_Rating}} <br>
            {% endif %} 
            <br>
            {% if not equploadform.Eng_Tier.is_hidden %}
                <label>Eng_Tier:</label> {{ equploadform.Eng_Tier }} &nbsp;
            {% endif %}
            {% if not equploadform.Cab_Style.is_hidden %}
                <label>Cab Style:</label> {{ equploadform.Cab_Style }} &nbsp;
            {% endif %}
            {% if not equploadform.Box_Type.is_hidden %}
                <label>Box Style:</label> {{ equploadform.Box_Type }} <br>
            {% endif %}
            <br>
            <label>Additional Information:</label><br>
            {{equploadform.Additional_Information}}<br>
            <br>
        </div>
