{% extends "core/base.html" %}
{% load static%}

{% block title %}Search Comp{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}

    <div class="leftnavbar">

        <ul class="leftnavbar">
            <li><a class="nav-link" href="{% url 'equipment:export_list_excel' %}?{{ request.GET.urlencode }}">Export</a> </li>
            <li><a href="{% url 'equipment:equipment' %}">Return</a> </li>
            <br>
            <li><a href="{% url 'core:home' %}">Main</a> </li>   
        </ul>
    </div>

{% endblock %}

{% block content %}
    <div class=main>
        <h2> Search Component </h2>
        <br>

        <div>
            <h5 > 
                &nbsp; Filters &nbsp;
                <input type="image" src="{% static 'images/mag_glass.jpg' %}" alt="Submit" class='logo' form="search-form" >
                <a href="{% url 'equipment:search_comp_list' %}">
                    <img src="{% static 'images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
                </a>
            </h5>
            <br>

            <form id="search-form"  method="GET" action=".">
                Equipment: <input type="text" name="Equipment" class="input" value="{{ request.GET.Equipment }}"> &nbsp;
                Asset Type: <input type="text" name="Asset_Type" class="input" value="{{ request.GET.Equipment__Asset_Type }}"> &nbsp;
                Equipment Type: <input type="text" name="Equipment_Type" class="input" value="{{ request.GET.Equipment_Type }}"> <br>
                <br>
                Component Number: <input type="text" name="Component_Number" class="input" value="{{ request.GET.Component_Number }}"> &nbsp;
                Component Description: <input type="text" name="Component_Description" class="input" value="{{ request.GET.Component_Description }}"> <br>
                <br>
                Component Make: <input type="text" name="Make" class="input" value="{{ request.GET.Make }}"> &nbsp;
                Component Model: <input type="text" name="Model" class="input" value="{{ request.GET.Model }}"> <br>
            </form>
            <br>
        </div>

        <div >
            <h2 > Search Results </h2>
            <br>
            <div class="table-container" style="width: 100%; overflow-x: auto;">
                <table  class="table">
                    <thead>
                        <tr>
                            <th class="th"><a href="?sort=Equipment" class="sort_header">Equipment{% if sort_by == 'Equipment' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Equipment__Asset_Type" class="sort_header">Asset Type{% if sort_by == 'Equipment__Asset_Type' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Equipment__Equipment_Type" class="sort_header">Equipment Type{% if sort_by == 'Equipment__Equipment_Type' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Component_Number" class="sort_header">Component Number{% if sort_by == 'Component_Number' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Component_Description" class="sort_header">Component Description{% if sort_by == 'Component_Description' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Make" class="sort_header">Make{% if sort_by == 'Make' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Model" class="sort_header">Model{% if sort_by == 'Model' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Serial_Number" class="sort_header">Serial Number{% if sort_by == 'Serial_Number' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Warranty_Duration" class="sort_header">Warranty_Duration{% if sort_by == 'Warranty_Duration' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Wty_UoM" class="sort_header">Wty UoM{% if sort_by == 'Wty_UoM' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Waranty_Start_Date" class="sort_header">Warranty Start{% if sort_by == 'Waranty_Start_Date' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=Warranty_End_Date" class="sort_header">Warranty End{% if sort_by == 'Warranty_End_Date' %}▲{% endif %}</a></th>
                            <th class="th"><a href="?sort=PO_Number" class="sort_header">PO{% if sort_by == 'PO_Number' %}▲{% endif %}</a></th>
                        </tr>
                    </thead>
                     <tbody>
                        {% for item in comp_list %}
                            <tr>
                                <td class="td">{{item.Equipment.Equipment_Number}}</td>
                                <td class="td">{{item.Equipment.Asset_Type.name}}</td>
                                <td class="td">{{item.Equipment.Equipment_Type.Equipment_Type}}</td>
                                <td class="td">{{item.Component_Number}}</td>
                                <td class="td">{{item.Component_Description}}</td>
                                <td class="td">{{item.Make}}</td>
                                <td class="td">{{item.Model}}</td>
                                <td class="td">{{item.Serial_Number}}</td>
                                <td class="td">{{item.Warranty_Duration}}</td>
                                <td class="td">{{item.Wty_UoM}}</td>
                                <td class="td">{{item.Warranty_Start_Date}}</td>
                                <td class="td">{{item.Warranty_End_Date}}</td>
                                <td class="td">{{item.PO_Number}}</td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="10">No records found.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}