{% extends "core/base.html" %}
{% load static %}

{% block title %}
    Search Projects
{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
<div class="leftnavbar">
    <ul>
        <li><a href="?{{ request.GET.urlencode }}&export=excel">Export</a></li>
        <li><a href="{% url 'projects:projects' %}">Return</a></li>
        <br>
        <li><a href="{% url 'core:home' %}">Main Menu</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="main">
    <h2> Search Projects</h2>
    <br>

    <form method="GET" class="search-form" id="search-projects">
        <h5> &nbsp; Search Criteria
            <input type="image" src="{% static 'Images/mag_glass.jpg' %}" alt="Submit" class='logo'>
                <a href="{% url 'projects:search_projects' %}">
                    <img src="{% static 'Images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
                </a>
        </h5>
        <br>

        Project Number <input list="proj_nums" name="proj_num" placeholder="Project #" class="input">
        <datalist id="proj_nums">
            {% for num in all_proj_nums %}<option value="{{ num }}">{% endfor %}
        </datalist>
        &nbsp;
        Keyword <input list="titles" name="title_keyword" placeholder="Keyword in Title" class="input">
        <datalist id="titles">
            {% for title in all_titles %}<option value="{{ title }}">{% endfor %}
        </datalist>
    </form>
    <br>

    <h3> Search Results </h3>
    <br>

    <div  class="table-container">
        <table class="table" id="proj-search">
            <thead>
                <tr>
                    <th class="th"><a class="sort_header" href="?sort=project_number&dir={% if direction == 'asc' %}desc{% else %}asc{% endif %}">
                        Project {% if sort_by == 'project_number' %}{% if direction == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                    <th class="th"><a class="sort_header" href="?sort=description&dir={% if request.GET.dir == 'asc' %}desc{% else %}asc{% endif %}">
                        Description {% if sort_by == 'description' %}{% if direction == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                    <th class="th"><a class="sort_header" href="?sort=moc_number&dir={% if request.GET.dir == 'asc' %}desc{% else %}asc{% endif %}">
                        MOC {% if sort_by == 'moc_number' %}{% if direction == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                    <th class="th"><a class="sort_header" href="?sort=moc.ratio&dir={% if request.GET.dir == 'asc' %}desc{% else %}asc{% endif %}">
                        V/E Ratio {% if sort_by == 'moc.ratio' %}{% if direction == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                    <th class="th"><a class="sort_header" href="?sort=status&dir={% if request.GET.dir == 'asc' %}desc{% else %}asc{% endif %}">
                        Status {% if sort_by == 'status' %}{% if direction == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                    <th class="th"><a class="sort_header" href="?sort=completion_percentage&dir={% if request.GET.dir == 'asc' %}desc{% else %}asc{% endif %}">
                        % Complete {% if sort_by == 'completion_percentage' %}{% if direction == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th></th>
                    <th class="th">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for proj in projects %}
                <tr>
                    <td class="td">{{ proj.project_number }}</a></td>
                    <td class="td">{{ proj.description }}</td>
                    <td class="td">{{ proj.moc_number }}</td>
                    <td class="td">{{ proj.ve_ratio }}</td>
                    <td class="td">{{ proj.status }}</td>
                    <td class="td">{{ proj.completion_percentage }}</td>
                    <td class="td"><a href="{% url 'projects:edit_project_id' proj.id %}">Edit</a></td>
                </tr>
                {% empty %}
                <tr><td  class="td" colspan="5">No Projects found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.querySelectorAll('.input').forEach(input => {
        input.addEventListener('input', function() {
            const options = document.getElementById(this.getAttribute('list')).options;
            for (let i = 0; i < options.length; i++) {
                if (options[i].value === this.value) {
                    this.form.submit();
                    break;
                }
            }
        });
    });
</script>
{% endblock %}