{% extends "core/base.html" %}
{% load static %}

{% block title %}
    MOC Question Resp
{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
<div class="leftnavbar">
    <ul>
        <li><a href="javascript:void(0);" onclick="submitResponseForm();">Save/Return</a></li>
        <li><a href="{% url 'moc:edit_moc' moc.moc_number %}" onclick="return confirm('Information will be lost! Proceed?');">Cancel/Return</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="main">
    <h2>{{ section|title }} Question Responses for {{ moc.moc_number }}</h2>
    <br>
    <form method="post" id="moc-response-form">
        {% csrf_token %}
        {{ formset.management_form }}
        {% if formset.errors %}
            <div style="color: red; border: 1px solid red; padding: 10px;">
                {{ formset.errors }}
            </div>
        {% endif %}
        {% for form in formset.forms %}
        {{ form.id }} 
        {{ form.instance.question.text }} &nbsp; {{ form.dropdown_answer }} &nbsp; Complete {{ form.complete }}<br>
        {{ form.detail }}<br>
        <br>
        {% endfor %}
    </form>
</div>
<script>
    function submitResponseForm() {
        const form = document.getElementById('moc-response-form');
        if (form.reportValidity()) {
            form.submit();
        }
    }
</script>
{% endblock %}