{% extends "core/base.html" %}
{% load static %}

{% block title %}
    Search Suppliers
{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
<div class="leftnavbar">
    <ul>
        <li><a href="{% url 'suppliers:export_suppliers_excel' %}?{{ filter_url }}">Export</a></li>
        <li><a href="{% url 'suppliers:suppliers' %}">Return</a></li>
        <br>
        <li><a href="{% url 'core:home' %}">Main Menu</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="main">
    <h2>Search Suppliers</h2>
    <br>
    <div >
        <h3> 
            &nbsp; Search Criteria &nbsp;
                <input type="image" src="{% static 'images/mag_glass.jpg' %}" alt="Submit" class='logo' form="search-form" >
                <a href="{% url 'suppliers:search_suppliers' %}">
                <img src="{% static 'images/broom.jpg' %}" alt="Clear Filters" class='logo' style="cursor: pointer;">
            </a>
        </h3>
        
        <form id="search-form"  method="GET" action="{% url 'suppliers:search_suppliers' %}">
            <table class="table-bare-container">
                <tr>
                    <td>Supplier Name</td>
                    <td><input type="text" name="supplier_name" value="{{ supplier_name }}" placeholder="Supplier Name" class="input"></td>
                    <td>City</td>
                    <td><input type="text" name="city" value="{{ city }}" placeholder="City" class="input"> </td>
                    <td>Status</td>
                    <td><input type="text" name="location" value="{{ status }}" placeholder="Status" class="input"></td>
                </tr>
            </table>
        </form>

        <div >
            <h3> Search Results </h3>
            <br>
            <div class="table-container">
                <table  class="table">
                    <thead>
                        <tr>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'supplier_name' %}-supplier_name{% else %}supplier_name{% endif %}" class="sort_header">
                                    Supplier Name {% if sort == 'supplier_name' %} ▲ {% elif sort == '-supplier_name' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'status' %}-status{% else %}status{% endif %}" class="sort_header">
                                    Status {% if sort == 'status' %} ▲ {% elif sort == '-status' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'street_address' %}-street_address{% else %}street_address{% endif %}" class="sort_header">
                                    Street Address {% if sort == 'street_address' %} ▲ {% elif sort == '-street_address' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'city' %}-city{% else %}city{% endif %}" class="sort_header">
                                    City {% if sort == 'city' %} ▲ {% elif sort == '-city' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'province_state' %}-province_state{% else %}province_state{% endif %}" class="sort_header">
                                    Prov / State {% if sort == 'province_state' %} ▲ {% elif sort == '-province_state' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'country' %}-country{% else %}country{% endif %}" class="sort_header">
                                    Country {% if sort == 'country' %} ▲ {% elif sort == '-country' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'postal_zip' %}-postal_zip{% else %}postal_zip{% endif %}" class="sort_header">
                                    Postal / Zip Code {% if sort == 'postal_zip' %} ▲ {% elif sort == '-postal_zip' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'contact' %}-contact{% else %}contact{% endif %}" class="sort_header">
                                    Contact {% if sort == 'contact' %} ▲ {% elif sort == '-contact' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'phone' %}-phone{% else %}phone{% endif %}" class="sort_header">
                                    Phone {% if sort == 'phone' %} ▲ {% elif sort == '-phone' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'email' %}-email{% else %}email{% endif %}" class="sort_header">
                                    Email {% if sort == 'email' %} ▲ {% elif sort == '-email' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'supplier_discount' %}-supplier_discount{% else %}supplier_discount{% endif %}" class="sort_header">
                                    Supplier Discount {% if sort == 'supplier_discount' %} ▲ {% elif sort == '-supplier_discount' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'payment_method' %}-payment_method{% else %}payment_method{% endif %}" class="sort_header">
                                    Payment Method {% if sort == 'payment_method' %} ▲ {% elif sort == '-payment_method' %} ▼ {% endif %}
                                </a>
                            </th>
                            <th class="th">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'supplier_currency' %}-supplier_currency{% else %}supplier_currency{% endif %}" class="sort_header">
                                    Supplier Currency {% if sort == 'supplier_currency' %} ▲ {% elif sort == '-supplier_currency' %} ▼ {% endif %}
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for suppliers in suppliers %}
                            <tr>
                                <td class="td">{{ suppliers.supplier_name }}</td>
                                <td class="td">{{ suppliers.status }}</td>
                                <td class="td">{{ suppliers.street_address }}</td>
                                <td class="td">{{ suppliers.city }}</td>
                                <td class="td">{{ suppliers.province_state }}</td>
                                <td class="td">{{ suppliers.country }}</td>
                                <td class="td">{{ suppliers.postal_zip }}</td>
                                <td class="td">{{ suppliers.contact }}</td>
                                <td class="td">{{ suppliers.phone }}</td>
                                <td class="td">{{ suppliers.email }}</td>
                                <td class="td">{{ suppliers.supplier_discount }}</td>
                                <td class="td">{{ suppliers.payment_method }}</td>
                                <td class="td">{{ suppliers.supplier_currency }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="13" style="text-align: center;">No suppliers found matching those criteria.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}