{% extends 'core/base.html' %}
{% load static %}

{% block title %}Search Plan WOs{% endblock %}

{% block top_navigation %}{% endblock %}

{% block sidebar %}
    <div class="leftnavbar">
        <ul>
            <li><a href="{% url 'planning:export_plan_wos_excel' %}?{{ filter_url }}">Export</a></li>
            <li><a href="{% url 'planning:planning' %}">Return</a> </li>
            <br>
            <li><a href="{% url 'core:home' %}">Main</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="main">

    <h2> Search "In Planning" Work Orders </h2>
    <br>
    <form class="form" id="search-wo"  method="GET" action="{% url 'planning:search_plan_orders' %}">
        <table class="table-container">
            <thead>
                <tr>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'work_order' %}-work_order{% else %}work_order{% endif %}" class="sort_header">
                            Work Order {% if sort == 'work_order' %} ▲ {% elif sort == '-work_order' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'equipment' %}-equipment{% else %}equipment{% endif %}" class="sort_header">
                            Equipment Number {% if sort == 'equipment' %} ▲ {% elif sort == '-equipment' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">Equipment Description</th>
                    <th class="th">Troubleshoot Description</th>
                    <th class="th">Repair Description</th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'date_created' %}-date_created{% else %}date_created{% endif %}" class="sort_header">
                            Date Created {% if sort == 'date_created' %} ▲ {% elif sort == '-date_created' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'plan_start_date' %}-plan_start_date{% else %}plan_start_date{% endif %}" class="sort_header">
                            Plan Start Date {% if sort == 'plan_start_date' %} ▲ {% elif sort == '-plan_start_date' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ value }}&{% endif %}{% endfor %}sort={% if sort == 'priority' %}-priority{% else %}priority{% endif %}" class="sort_header">
                            Priority {% if sort == 'priority' %} ▲ {% elif sort == '-priority' %} ▼ {% endif %}
                        </a>
                    </th>
                    <th class="th">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for work_order in work_orders %}
                <tr>
                    <td class="td">{{ work_order.work_order }}</td>
                    <td class="td">{{ work_order.equipment_number }}</td>
                    <td class="td">{{ work_order.equipment_description }}</td>
                    <td class="td">{{ work_order.troubleshoot_description }}</td>
                    <td class="td">{{ work_order.repair_description }}</td>
                    <td class="td">{{ work_order.date_created }}</td>
                    <td class="td">{{ work_order.plan_start_date }}</td>
                    <td class="td">{{ work_order.priority }}</td>
                    <td class="td"><a href="{% url 'work_orders:edit_work_order' work_order.pk %}">Edit</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No work orders found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}